<!doctype html>
<html lang="en">
<head>
  <!-- The first thing in any HTML file should be the charset -->
  <meta charset="utf-8">
  <!-- Make the page mobile compatible -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Type Faster - Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/login.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/js/login.js"></script>

</head>
<body>
  <!-- The app hooks into this div -->
  <div class="container login-page">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Choose Username</h3>
          </div>
          <div class="panel-body">
            <form role="form" id="login-form">
              <fieldset>
                <div class="form-group">
                  <input class="form-control" placeholder="Username" name="username" type="text" autofocus required>
                </div>
                <button id="login-btn" class="btn btn btn-success">Enter</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
  </div>
  </div>
</body>
</html>
